# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Weights and large model files (if not managed by LFS)
weights/

# Debug files
debug_*.png 